*

!public/
!public/**

!src/
!src/**

!src/app/
!src/app/**

!src/components/
!src/components/**

!src/components/ui/
!src/components/ui/**

!src/lib/
!src/lib/**

!.gitignore
!*.json
!futureApps.idea
!*.py
!next.config.ts
!*.mjs
!*.md
!*.txt
!*.fastapi
!*.npm
