*

!public/
!public/**

!src/
!src/**

!src/app/
!src/app/**

!src/components/
!src/components/**

!src/components/ui/
!src/components/ui/**

!src/lib/
!src/lib/**

!.gitignore
!components.json
!eslint.config.mjs
!futureApps.idea
!main.py
!next.config.ts
!package-lock.json
!package.json
!postcss.config.mjs
!README.md
!tsconfig.json
!tutorial.txt